body{
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
@font-face {
  font-family: "SF Display Regular";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

@font-face {
  font-family: "SF Display Medium";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}

@font-face {
  font-family: "SF Display Light";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
}

.container{
  width: 100%;
  margin: 0 auto;
}

h1{
  font-family: "SF Display Regular";
  font-size: 4.75rem;
  text-align: center;
}

h2{
  font-family: "SF Display Regular";
  font-size: 2rem;
  text-align: center;
}

h3{
  font-family: "SF Display Regular";
  font-size: 1.75rem;
  text-align: center;
}

p{
  font-family: "SF Display Light", sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: .1rem;
  text-align: center;
}
a{
  font-family: "SF Display Regular";
  margin: 0%;
  text-decoration: none;
  color:white ;
}

header {
  background-color: rgba(0,0,0,.8);
  box-sizing: content-box;
  display: block;
  font-family: "SF Display Regular";
  font-size: 17px;
  font-weight: 400;
  height: 48px;
  left: 0;
  margin: 0;;
  padding: 0;
  pointer-events: auto;
  position: absolute;
  right: 0;
  text-align: left;
  text-size-adjust: 100%;
  top: 0;
  width: 100%;
}
header nav {
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: white;
}


header nav ul{
  display: flex;
  justify-content: space-between;

}
ul li {
  text-decoration: none;
  list-style: none;
  display: flex;
  padding-top: 1.3%;
  padding-bottom:1%;
  justify-content: space-between;
}

ul {
 margin: 0;
}


.main2__adresse{
  margin: 0 auto;
  width: 45%;
  display: block;
  margin-top: 300px;
  box-sizing: border-box;
}

#bouton{
  width: 20%;
  margin:0 auto;
  border:0px;
  background: #2B9CE2;
  border-radius: 5px;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
}
#bouton2{
  width: 20%;
  margin:5% 80%;
  border:0px;
  background: #2B9CE2;
  border-radius: 5px;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
}
input{

  font-family: "SF Display Regular";
  width: 100%;
  font-size: 16px;
  height: 38px;
  margin-top: 20px;
  box-sizing: border-box;
  border: solid 2px #f0f0f0;
  border-radius: 3px;
  padding: 10px;
  background: #f5f5f5;
  color:#8b8b8b;
}



.main__adresse__avancement{
  margin: 0 auto;
  padding-top: 10%;
}

.main2__adresse__image{
  position: absolute;
  padding-top: 150px;
}

.ahref{
  width: 20%;
  weight: 20px;
}
.lol{
  position: fixed;

}
